
#app {
  padding-top: 25px;
  .dp-test-logo {
    margin: auto;
    width: 25%;
    height: auto;

    svg {
      width: 100%;
      height: 100%;
      fill: #3d83df;
    }
  }
  h2 {
    text-align: center;
  }
}
